language: generic

sudo: required

before_install:
  - sudo apt-get update
  - sudo apt-get install -y curl parallel cmake wget
  - wget 'https://github.com/google/brotli/archive/v1.0.4.tar.gz'
  - tar zxvf v1.0.4.tar.gz
  - cd brotli-1.0.4/
  - cmake .
  - make
  - sudo cp ./brotli /bin/brotli
  - sudo chmod 777 /bin/brotli
  - cd ..
install:
  - git config --global user.name "Salvador Guzman"
  - git config --global user.email "guzmansalv@gmail.com"
  - git clone 'https://github.com/sguzman/books-pages'
  - cd books-pages
  - mkdir -p books/
  - cd books/
script:
  - touch stats.log
  - tail -f stats.log | gawk 'NR % 500 == 0' &
  - cat ../../links/links.brotli | brotli -d | parallel -j8 --joblog stats.log 'curl -sq http://23.95.221.108/{}/ | brotli > {}.html.brotli'
after_success:
  - git add *.html.brotli
  - git commit -m 'Added book pages' | gawk 'NR % 5 == 0'
  - echo $GITHUB_AUTH > ~/.git-credentials
  - git config --global credential.helper store
  - git push
